body{
    background-color: hsl(30, 38%, 92%);
}

img{
    height: 500px;
    width: 375px;
}


.body{
    width: 750px;
    height: 500px;
    background-color:hsl(0, 0%, 100%) ;
    margin: auto;
    margin-top: 100px;
    
}

.i{
    display: flex;
    min-width: 100vh;
}
.P-1{
    position: relative;
    top: 20px;
    left: 37px;
    color: gray;
    font-size: smaller;
    width: 120px;
    display: inline-block;
    
}

.W-1{
    font-size: larger;
    font-weight: 900;
    position: relative;
    right: 55px;
    margin-top: 35px;

}
.H-1{
    display: inline-block;
    position: relative;
    top: 300px;
    width: 200px;
}
.H{
    position: relative;
    left: 410px;
    bottom: 290px;
    font-size: 20px;
    color: hsl(228, 12%, 48%);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.num{
    position: relative;
    bottom: 245px;
    left: 410px;
}
.num-1{
    font-size: 30px;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    font-family:cursive;


}
.num-2{
    margin-left: 30px;
    color:hsl(228, 12%, 48%) ;
    text-decoration: line-through;

    
}
.box{
    position: relative;
    bottom: 240px;
    left: 410px;
    width: 250px;
    height: 40px;
    margin-top: 20px;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.img-2{
    width: 15px;
    height: 12px;
    margin-right: 10px;
}